export(Acari_Percent)
export(Acari_PercentTaxa)
export(Acari_Taxa)
export(aggregate.BMI)
export(Amphipoda_Percent)
export(BMI)
export(Burrower_Percent)
export(Burrower_PercentTaxa)
export(Burrower_Taxa)
export(CFCG_Percent)
export(CFCG_PercentTaxa)
export(CFCG_Taxa)
export(Chironomidae_PercentTaxa)
export(Chironomidae_Taxa)
export(Chironominae_Percent)
export(Chironominae_PercentOfMidges)
export(Climber_Percent)
export(Climber_PercentTaxa)
export(Climber_Taxa)
export(Clinger_Percent)
export(Clinger_PercentTaxa)
export(Clinger_Taxa)
export(Coleoptera_Percent)
export(Coleoptera_PercentTaxa)
export(Coleoptera_Taxa)
export(Crustacea_Percent)
export(Diptera_Percent)
export(Diptera_PercentTaxa)
export(Diptera_Taxa)
export(Ephemeroptera_Percent)
export(Ephemeroptera_PercentTaxa)
export(Ephemeroptera_Taxa)
export(EPT_Percent)
export(EPT_PercentTaxa)
export(EPT_Taxa)
export(Intolerant_Percent)
export(Intolerant_PercentTaxa)
export(Intolerant_Taxa)
export(Invasive_Percent)
export(Invasive_PercentTaxa)
export(Invasive_Taxa)
export(Noninsect_Percent)
export(Noninsect_PercentTaxa)
export(Noninsect_Taxa)
export(Ostracoda_Percent)
export(Plecoptera_Percent)
export(Plecoptera_PercentTaxa)
export(Plecoptera_Taxa)
export(Predator_Percent)
export(Predator_PercentTaxa)
export(Predator_Taxa)
export(sample)
export(Scraper_Percent)
export(Scraper_PercentTaxa)
export(Scraper_Taxa)
export(Shannon_Diversity)
export(Shredder_Percent)
export(Shredder_PercentTaxa)
export(Shredder_Taxa)
export(Simpson_Diversity)
export(Swimmer_Percent)
export(Swimmer_PercentTaxa)
export(Swimmer_Taxa)
export(Tanypodinae_Percent)
export(Tanypodinae_PercentOfMidges)
export(ToleranceValue)
export(Tolerant_Percent)
export(Tolerant_PercentTaxa)
export(Tolerant_Taxa)
export(Total_Taxa)
export(Trichoptera_Percent)
export(Trichoptera_PercentTaxa)
export(Trichoptera_Taxa)
import(plyr)
import(stringr)
import(vegan)
importFrom(reshape,cast)
S3method(Acari_Percent,BMIagg)
S3method(Acari_Percent,BMIprc)
S3method(Acari_PercentTaxa,BMIagg)
S3method(Acari_PercentTaxa,BMIprc)
S3method(Acari_Taxa,BMIagg)
S3method(Acari_Taxa,BMIprc)
S3method(Amphipoda_Percent,BMIagg)
S3method(Amphipoda_Percent,BMIprc)
S3method(Burrower_Percent,BMIagg)
S3method(Burrower_Percent,BMIprc)
S3method(Burrower_PercentTaxa,BMIagg)
S3method(Burrower_PercentTaxa,BMIprc)
S3method(Burrower_Taxa,BMIagg)
S3method(Burrower_Taxa,BMIprc)
S3method(CFCG_Percent,BMIagg)
S3method(CFCG_Percent,BMIprc)
S3method(CFCG_PercentTaxa,BMIagg)
S3method(CFCG_PercentTaxa,BMIprc)
S3method(CFCG_Taxa,BMIagg)
S3method(CFCG_Taxa,BMIprc)
S3method(Chironomidae_PercentTaxa,BMIagg)
S3method(Chironomidae_PercentTaxa,BMIprc)
S3method(Chironomidae_Taxa,BMIagg)
S3method(Chironomidae_Taxa,BMIprc)
S3method(Chironominae_Percent,BMIagg)
S3method(Chironominae_Percent,BMIprc)
S3method(Chironominae_PercentOfMidges,BMIagg)
S3method(Chironominae_PercentOfMidges,BMIprc)
S3method(Climber_Percent,BMIagg)
S3method(Climber_Percent,BMIprc)
S3method(Climber_PercentTaxa,BMIagg)
S3method(Climber_PercentTaxa,BMIprc)
S3method(Climber_Taxa,BMIagg)
S3method(Climber_Taxa,BMIprc)
S3method(Clinger_Percent,BMIagg)
S3method(Clinger_Percent,BMIprc)
S3method(Clinger_PercentTaxa,BMIagg)
S3method(Clinger_PercentTaxa,BMIprc)
S3method(Clinger_Taxa,BMIagg)
S3method(Clinger_Taxa,BMIprc)
S3method(Coleoptera_Percent,BMIagg)
S3method(Coleoptera_Percent,BMIprc)
S3method(Coleoptera_PercentTaxa,BMIagg)
S3method(Coleoptera_PercentTaxa,BMIprc)
S3method(Coleoptera_Taxa,BMIagg)
S3method(Coleoptera_Taxa,BMIprc)
S3method(Crustacea_Percent,BMIagg)
S3method(Crustacea_Percent,BMIprc)
S3method(Diptera_Percent,BMIagg)
S3method(Diptera_Percent,BMIprc)
S3method(Diptera_PercentTaxa,BMIagg)
S3method(Diptera_PercentTaxa,BMIprc)
S3method(Diptera_Taxa,BMIagg)
S3method(Diptera_Taxa,BMIprc)
S3method(Ephemeroptera_Percent,BMIagg)
S3method(Ephemeroptera_Percent,BMIprc)
S3method(Ephemeroptera_PercentTaxa,BMIagg)
S3method(Ephemeroptera_PercentTaxa,BMIprc)
S3method(Ephemeroptera_Taxa,BMIagg)
S3method(Ephemeroptera_Taxa,BMIprc)
S3method(EPT_Percent,BMIagg)
S3method(EPT_Percent,BMIprc)
S3method(EPT_PercentTaxa,BMIagg)
S3method(EPT_PercentTaxa,BMIprc)
S3method(EPT_Taxa,BMIagg)
S3method(EPT_Taxa,BMIprc)
S3method(Intolerant_Percent,BMIagg)
S3method(Intolerant_Percent,BMIprc)
S3method(Intolerant_PercentTaxa,BMIagg)
S3method(Intolerant_PercentTaxa,BMIprc)
S3method(Intolerant_Taxa,BMIagg)
S3method(Intolerant_Taxa,BMIprc)
S3method(Invasive_Percent,BMIagg)
S3method(Invasive_Percent,BMIprc)
S3method(Invasive_PercentTaxa,BMIagg)
S3method(Invasive_PercentTaxa,BMIprc)
S3method(Invasive_Taxa,BMIagg)
S3method(Invasive_Taxa,BMIprc)
S3method(Noninsect_Percent,BMIagg)
S3method(Noninsect_Percent,BMIprc)
S3method(Noninsect_PercentTaxa,BMIagg)
S3method(Noninsect_PercentTaxa,BMIprc)
S3method(Noninsect_Taxa,BMIagg)
S3method(Noninsect_Taxa,BMIprc)
S3method(Ostracoda_Percent,BMIagg)
S3method(Ostracoda_Percent,BMIprc)
S3method(Plecoptera_Percent,BMIagg)
S3method(Plecoptera_Percent,BMIprc)
S3method(Plecoptera_PercentTaxa,BMIagg)
S3method(Plecoptera_PercentTaxa,BMIprc)
S3method(Plecoptera_Taxa,BMIagg)
S3method(Plecoptera_Taxa,BMIprc)
S3method(Predator_Percent,BMIagg)
S3method(Predator_Percent,BMIprc)
S3method(Predator_PercentTaxa,BMIagg)
S3method(Predator_PercentTaxa,BMIprc)
S3method(Predator_Taxa,BMIagg)
S3method(Predator_Taxa,BMIprc)
S3method(sample,BMI)
S3method(sample,BMIagg)
S3method(sample,default)
S3method(Scraper_Percent,BMIagg)
S3method(Scraper_Percent,BMIprc)
S3method(Scraper_PercentTaxa,BMIagg)
S3method(Scraper_PercentTaxa,BMIprc)
S3method(Scraper_Taxa,BMIagg)
S3method(Scraper_Taxa,BMIprc)
S3method(Shannon_Diversity,BMIagg)
S3method(Shannon_Diversity,BMIprc)
S3method(Shredder_Percent,BMIagg)
S3method(Shredder_Percent,BMIprc)
S3method(Shredder_PercentTaxa,BMIagg)
S3method(Shredder_PercentTaxa,BMIprc)
S3method(Shredder_Taxa,BMIagg)
S3method(Shredder_Taxa,BMIprc)
S3method(Simpson_Diversity,BMIagg)
S3method(Simpson_Diversity,BMIprc)
S3method(Swimmer_Percent,BMIagg)
S3method(Swimmer_Percent,BMIprc)
S3method(Swimmer_PercentTaxa,BMIagg)
S3method(Swimmer_PercentTaxa,BMIprc)
S3method(Swimmer_Taxa,BMIagg)
S3method(Swimmer_Taxa,BMIprc)
S3method(Tanypodinae_Percent,BMIagg)
S3method(Tanypodinae_Percent,BMIprc)
S3method(Tanypodinae_PercentOfMidges,BMIagg)
S3method(Tanypodinae_PercentOfMidges,BMIprc)
S3method(ToleranceValue,BMIagg)
S3method(ToleranceValue,BMIprc)
S3method(Tolerant_Percent,BMIagg)
S3method(Tolerant_Percent,BMIprc)
S3method(Tolerant_PercentTaxa,BMIagg)
S3method(Tolerant_PercentTaxa,BMIprc)
S3method(Tolerant_Taxa,BMIagg)
S3method(Tolerant_Taxa,BMIprc)
S3method(Total_Taxa,BMIagg)
S3method(Total_Taxa,BMIprc)
S3method(Trichoptera_Percent,BMIagg)
S3method(Trichoptera_Percent,BMIprc)
S3method(Trichoptera_PercentTaxa,BMIagg)
S3method(Trichoptera_PercentTaxa,BMIprc)
S3method(Trichoptera_Taxa,BMIagg)
S3method(Trichoptera_Taxa,BMIprc)
